* {
    text-decoration: none;
}

body {
    font-family: gotham;
    font-size: 10px;
    margin: 0; 
    background-color: #0e0e0e;
    background-image: url('img/mask2.png');
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    height: 800px;
}

@keyframes naik {
    from { 
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.call {
    font-family: 'Shenttpuro';
    src: url('path/to/Shenttpuro.ttf') format('truetype');
    font-size: 60px;
    color: #fff;
    padding: 30px 40px;
    margin: auto;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 100px;
    font-weight: bold;
    animation: naik 1.5s ease-out;
}

.navi {
   
    margin: auto;
    padding: 10px 50px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
}

.profil img {
    float: left;
    padding: 10px;
    border-radius: 50px;
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profil a {
    font-size: 25px;
    padding: 10px 30px;
    font-weight: bold;
    color: #ff0000;
    text-decoration: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
    transition: color 0.05s;
}

.profil a h1 {
    font-weight: lighter;
    font-size: 15px;
    color: #ffe600;
    margin-left: 10px;
}

.profil a:hover {
    color: white;
}

.capt {
    font-size: 10px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 30px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    transition: color 0.05s;
}

.capt h1 {
    color: #ff0000;
    transition: color 0.05s;
}

.capt h1:hover {
    color: #fff;
    animation: color 12s ease-in-out infinite;
}

.capt:hover {
    background: linear-gradient(45deg, #949494, #ff0000, #313131, #000000);
    background-size: 800% 800%;
    animation: color 12s ease-in-out infinite;
}

.menu {
    justify-content: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 10px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    padding: 10px 30px;
    color: #fff;
    background-color: #414141;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: color 0.25s;
}

.menu li a:hover {
    color: #fff;
    background: linear-gradient(45deg, #949494, #ff0000, #313131, #000000);
    background-size: 500% 500%;
    animation: color 12s ease-in-out infinite;
}

.konten {
    font-size: 30px;
    color: white;
    padding: 10px 30px;
    margin: auto;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 400px;
    font-weight: auto;
    animation: naik 1.5s ease-out;
}

.layer-d {
    
    margin: auto;
    padding: 10px 20px;
    background-color: #2e2e2e;
    justify-content: space-between;
    align-items: center;
}




.pg-l {
    
    justify-content: center;
    margin: auto;
    font-size: 30px;
    display: flex;
    background-color: #1c1c1c;
    height: 50%;
}



.cont-skill {
    
    margin: auto;
    border-bottom: 5px solid #000;
    height: 60%;
    background-color: #1c1c1c;
    text-align: center;
    padding: 20px;
}

.cont-skill h1 {
    margin: auto;
    color: #ff0000;
    font-size: 25px;
    margin-bottom: 20px;
}



.table-container {
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.tabel-3d {
    background-color: #343434;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    width: fit-content;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.35);
    transition: color 0.25s;
}

.tabel-3d:hover {
    background: linear-gradient(45deg, #ff0000, #ff0000, #ff0000, #ff0000);
    animation: color 12s ease-in-out infinite;
}



.tabel-3d tr td i {
    color: white;
    font-size: 80px;
    vertical-align: middle;
    transition: color 0.25s;
}

.tabel-3d tr td i:hover {
    color: #fff200;
    font-size: 80px;
    vertical-align: middle;
    animation: color 12s ease-in-out infinite;
}

.container-profil {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    height: 50%;
    background-color: #000;
}

@keyframes foto {
    from { 
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.foto {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    animation: naik 1.5s ease-out;
}

.foto-conta {
    
    margin: auto;
    display: flex;
    padding: 5px;
    background-color: #1d1d1d;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.foto-isi1 {
    padding: 10px;
    margin: auto;
    display: flex;
    text-align: center;
    color: #ff9d00;
}

.foto-isi1 h1 {
    font-size: 30px;
}

.forto-container {
    
    margin: auto;
    height: 60%;
    display: flex;
    padding: 30px;
    background-color: #ac0000;
    justify-content: center;
    align-items: center;
    
}

.forto-isi h1 {
    font-size: 30px;
    color: white;
}

.forto-isi {
    display: inline;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.foto-contb {
    
    margin: auto;
    margin-bottom: 100px;
    height: 80%;
    display: flex;
    padding: 70px;
    background-color: #0e0e0e;
    justify-content: space-between;
    align-items: center;
}


/* send email */

.sosial h1 {
    font-size: 35px;
    color: #ff0000;
}

.sosial i {
    color: #ff9500;
}



.sosial a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.25s;
}

.sosial a:hover {
    color: orange;
    animation: color 12s ease-in-out infinite;
}

footer {
    background-color: #1d1d1d;
    color: #ff9500;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: 15px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1920px ) {
    .content-d h1 {
        margin: auto;
        margin-right: 300px;
        margin-left: 300px;
    }
    .pg-l p1 {
        margin: auto;
        border-bottom: 5px solid #808080;
        padding: 100px ;
        font-size: 15px;
        color: white;
        display: flex;
        text-align: left;
    }
    
    .pg-l p2 {
        margin: auto;
        padding: 100px;
        font-size: 15px;
        color: white;
        display: flex;
        text-align: left;
    }
    
    .pg-l p3 {
        margin: auto;
        border-bottom: 5px solid #808080;
        border-left: white;
        padding: 100px;
        font-size: 15px;
        color: #fff;
        display: flex;
        text-align: left;
    }
    .cont-skill p {
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
        height: 70px;
    }

    .foto-isi1 h1 {
        font-size: 40px;
    }

    .tabel-3d td {
        font-weight: bold;
        font-size: 30px;
        color: white;
        padding: 40px;
        border-bottom: 1px solid #6e6e6e;
    }

    .content-d {
        justify-content: center;
        margin: auto;
        border-left: 5px solid #ff0000;
        border-right: 5px solid #ff0000;
        font-size: 20px;
        padding: 20px 10px;
        display: flex;
        text-align: center;
        color: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }
    .foto-isi2 {
        margin-left: 20px;
        border-radius: 30px;
        background-color: #161616;
        font-size: 20px;
        padding: 30px 60px;
        display: flex;
        text-align: left;
        color: #ff9900;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }
    
    .sosial {
    
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-right: 50%;
    }
    
}

@media only screen and (max-width: 1080px ) {
    .content-d h1 {
        margin: auto;
        margin-right: 150px;
        margin-left: 150px;
    }

    .pg-l p1 {
        border-bottom: 5px solid #808080;
        padding: 100px ;
        font-size: 15px;
        color: white;
        display: flex;
        text-align: left;
    }
    
    .pg-l p2 {
        padding: 100px;
        font-size: 15px;
        color: white;
        display: flex;
        text-align: left;
    }
    
    .pg-l p3 {
        border-bottom: 5px solid #808080;
        border-left: white;
        padding: 100px;
        font-size: 15px;
        color: #fff;
        display: flex;
        text-align: left;
    }

    .cont-skill p {
        color: white;
        font-size: 15px;
        margin-bottom: 20px;
        height: 70px;
    }

    .foto-isi1 h1 {
        font-size: 30px;
    }

    .tabel-3d td {
        font-weight: bold;
        font-size: 20px;
        color: white;
        padding: 20px;
        border-bottom: 1px solid #6e6e6e;
    }
    .content-d {
        justify-content: center;
        margin: auto;
        border-left: 5px solid #ff0000;
        border-right: 5px solid #ff0000;
        font-size: 15px;
        padding: 20px 10px;
        display: flex;
        text-align: center;
        color: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }
   
    .sosial {
    
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-right: 10%;
    }
    

    
}

